:root  > * {
  --md-primary-fg-color:        #00A5AA;
  --md-primary-fg-color--light: #00A5AA;
  --md-primary-fg-color--dark:  #00A5AA;
}

/* Thicker borders for card grids */
.md-typeset .grid.cards > :is(ul, ol, .card) > li,
.md-typeset .grid > .card {
  border: 3px solid var(--md-default-fg-color--lightest);
}

/* Even thicker on hover */
.md-typeset .grid.cards > :is(ul, ol, .card) > li:hover,
.md-typeset .grid > .card:hover {
  border-width: 4px;
}