name: Vale docs linting
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - "*"
jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@v2.1.1